@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Monoton&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  width: inherit;
  height: auto;
}

header {
  width: 100%;
  height: 7vh;
  display: flex;
  text-transform: uppercase;
  padding: 1vh 20px;
  background-color: white;
  position: fixed;
  top: 0;
  .logo {
    width: 16%;
    font-family: "Monoton", cursive;
    font-size: 30px;
  }
  nav {
    width: 68%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;

    letter-spacing: 2px;
    ul {
      display: flex;
      justify-content: space-between;
      height: 100%;
      li {
        display: flex;
        align-items: center;
        margin-right: 10px;
        .nav-dot {
          height: 15px;
          width: 15px;
          border-radius: 7.5px;
        }
        .dot-one {
          background-color: #e2d3b7;
        }
        .dot-two {
          background-color: #b96f48;
        }
        .dot-three {
          background-color: #aac6b9;
        }
        .dot-four {
          background-color: #c98347;
        }
        .dot-five {
          background-color: #70989d;
        }
        .dot-six {
          background-color: #d3a745;
        }
        .dot-seven {
          background-color: #aeaa76;
        }

        a {
          text-decoration: none;
          color: black;
          margin-left: 5px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .search {
    width: 16%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .search-mag,
    .search-que {
      height: 17px;
      width: 17px;
      margin-left: 15px;
    }
  }
}

main {
  display: grid;
  width: inherit;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 88vh);
  grid-auto-flow: row;
  margin-top: 7vh;
  .box-one {
    background-color: #e5d9c3;
  }
  .box-two {
    background-color: #bb8365;
  }
  .box-three {
    background-color: #aca769;
  }
  .box-four {
    background-color: #d4a335;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    &:hover {
      .content-initial-img,
      .content-initial-text {
        display: none;
      }
      .content-on-hover {
        display: inherit;
      }
    }
    .content-text-top {
      @extend %content-text;
      align-items: flex-start;
      top: 0;
      .text-lt {
        display: flex;
      }
      .text-rt {
        display: flex;
        flex-direction: column;

        align-items: flex-end;
      }
    }
    .content-text-bottom {
      @extend %content-text;
      align-items: flex-end;
      bottom: 0;
    }
    .content-text {
      font-family: "Inconsolata", monospace;
      font-size: 12px;
      font-weight: 600;
    }
    .content-initial-img {
      height: 65%;
      width: calc(100% / 12 * 8);
      object-fit: contain;
      position: absolute;
      top: 0;
      padding-top: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      .img-tall {
        transform: scale(0.5);
      }
      .img-short {
        transform: scale(0.7);
      }
    }
    .content-initial-text {
      height: 35%;
      width: 100%;
      padding: 0% 12% 20% 12%;
      display: flex;
      justify-content: center;
      text-align: center;
      position: absolute;
      bottom: 0;
      p {
        line-height: 20px;
      }
    }
    .content-on-hover {
      height: 100%;
      width: 100%;
      padding: 0 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
      p {
        height: max-content;
        line-height: 25px;
        font-style: italic;
      }
    }
  }
}

footer {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-header {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: black;
    }
  }
  .footer-bottom {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    justify-content: space-between;
    .bottom-col {
      width: 33%;
      display: flex;
      flex-direction: column;
      line-height: 20px;
      a {
        color: black;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:last-child {
        justify-content: flex-end;
        text-align: right;
      }
    }
  }
}
