@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  width: inherit;
  height: auto;
}

header {
  width: 100%;
  height: 7vh;
  display: flex;
  text-transform: uppercase;
  padding: 1vh 20px;
  background-color: white;
  position: fixed;
  top: 0;
  .logo {
    width: 16%;
  }
  nav {
    width: 68%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;

    letter-spacing: 2px;
    ul {
      display: flex;
      justify-content: space-between;
      height: 100%;
      li {
        display: flex;
        align-items: center;
        margin-right: 10px;
        .nav-dot {
          height: 15px;
          width: 15px;
          border-radius: 7.5px;
        }
        .dot-one {
          background-color: #e2d3b7;
        }
        .dot-two {
          background-color: #b96f48;
        }
        .dot-three {
          background-color: #aac6b9;
        }
        .dot-four {
          background-color: #c98347;
        }
        .dot-five {
          background-color: #70989d;
        }
        .dot-six {
          background-color: #d3a745;
        }
        .dot-seven {
          background-color: #aeaa76;
        }

        a {
          text-decoration: none;
          color: black;
          margin-left: 5px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .search {
    width: 16%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .search-mag,
    .search-que {
      height: 17px;
      width: 17px;
      margin-left: 15px;
    }
  }
}
